{% extends 'base.html.twig' %}


{% block title %}Liste des candidats{% endblock %}

{% block body %}
<style>
    .container {
        margin-top: 50px;

    }

    h2 {
        margin-top: 100px;
        font-size: 50px;
        text-align: center;

    }

    .content {
        margin-top: 50px;
        ;
        border-style: solid;
        width: 800px;
        font-size: 30px;

    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">ALAJI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Accueil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">

            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}">Se déconnecter</a>
            </li>

        </ul>

    </div>
</nav>

<div class="container">
    <h2> Résultats du Quiz "{{ quiz.name }}" </br> Candidat: {{student.fullname }}</h2>
    <div class="content justify-content-center">
        
        
        {{ form_start(formTest) }}
        {{ form_row(formTest.criteria) }}</br>
        {{ form_end(formTest) }}
        


    </div>


</div>



{% endblock %}